.opening{

display:flex;

flex-direction:row;

gap:80px;

}



.opening-text{


transform:

translateX(-120px);



text-align:left;



z-index:2;


}



.opening-text h1{


font-family:

var(--font-title);


font-size:

clamp(50px,7vw,100px);



letter-spacing:

10px;



background:

linear-gradient(
90deg,
var(--gold),
var(--white)
);



-webkit-background-clip:text;

color:transparent;


}



.brand-tagline{


font-size:24px;


color:

var(--gold);


}



.brand-description{


max-width:300px;


line-height:2;


color:

var(--gray);


}
